

<main class="container-double--ver clearfix one-one align-center">
  <div class="flex-container">

    <!--page content start-->
    <div id="content-block">

      <h3>Anonymous Online Bill Payment/ Balance Recharge/Subscribtion Renewal</h3>
      <p>Dear Customer, enter number to pay bill amount/recharge your balance</p>
<div class="divider-lg"></div>
  <div class="row justify-content-between">
  <div class="col-3">
  <mat-radio-group>
  <mat-radio-button value="1" color="primary">We internet Subscription </mat-radio-button>

  </mat-radio-group>
  </div>
  <div class="col-1"> <div class="fa fa-phone fa-2x indigo"></div> </div>

  </div>

      <div class="divider-md"></div>
      <div class="row justify-content-between">
        <div class="col-3">
          <mat-radio-group >
            <mat-radio-button value="1" color="primary">We Mobile Line</mat-radio-button>

          </mat-radio-group>
        </div>
        <div class="col-1"> <div class="fa fa-mobile-alt fa-2x indigo"></div></div>

      </div>



      <div class="divider-lg"></div>
      <div><button type="submit" class=" btn inline-block pr-3 pl-3 " routerLink="/we/asdl-payment" >Continue </button></div>
    </div>


  </div>


</main>

