<!--header start-->

<header class="header">
  <div class="header__top container-half--ver--half">
    <div class="one-one align-center clearfix">
      <nav class="nav align-default col-sm-hide">
        <ul class="nav__list">
          <li class="nav__list__item is-current"><a class="nav__list__link" href="#">Personal</a></li>
          <li class="nav__list__item"><a class="nav__list__link" href="#">Business</a></li>
          <li class="nav__list__item"><a class="nav__list__link" href="#">Investor Relations</a></li>
        </ul>
      </nav>
      <div class="align-op-default col-sm-12 te-search">
        <div>
          <button class="btn btn-default header__lang link inline-block text-middle space-op col-sm-pull-right pull-right" style="height: 30px; margin:0;margin-top:9px;border:0;padding:0;">
            <img id="img-ar" src="../assets/images/lang-icon.png">

          </button>
        </div>
        <div class="mobile-menu-icon col-sm-visible col-sm-pull-left"><img src="../assets/images/mobile-menu-icon.png"></div>
        <a class="header__logo inline-block text-middle space-op col-sm-visible" href="https://www.te.eg/wps/vanityurl/Personal-Home-en">
          <!----><img class="header__logo__img" src="../../assets/images/logo.png">
          <!---->
        </a>

      </div>
    </div>
  </div>
  <!--<div class="header__main col-sm-hide">-->
    <!--<div class="one-one align-center clearfix">-->
      <!--<div class="l-table l-full">-->
        <!--<div class="l-table-cell text-middle">-->
          <!--<a class="header__logo inline-block text-middle space-op" href="#">-->
            <!--<div class="header__logo__img">-->
              <!--&lt;!&ndash;&ndash;&gt;<img class="header__logo__img" src="assets/images/logo.png">-->
              <!--&lt;!&ndash;&ndash;&gt;-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="l-table-cell text-middle">-->
          <!--<nav class="nav nav&#45;&#45;light nav&#45;&#45;large align-op-default">-->
            <!--<ul class="nav__list">-->

              <!--<li class="nav__list__item dropdown dropdown&#45;&#45;mega -start550">-->
                <!--<span class="nav__list__link">Mobile</span><img class="dropdown__triangle" src="assets/images/triangle.png">-->
                <!--<div class="dropdown__content">-->
                  <!--<div class="dropdown__content__wrapper clearfix">-->
                    <!--<div class="dropdown__content__column">-->
                      <!--<div class="two-ninths">-->
                        <!--<div class="l-row&#45;&#45;double clearfix">-->
                          <!--<div class="text-large text-bold l-row&#45;&#45;half">Mobile Tariffs</div>-->
                          <!--<ul class="list text-light text-height-double">-->
                            <!--<li>-->
                              <!--<a class="link" href="#">Prepaid</a>-->
                            <!--</li>-->

                            <!--<li>-->
                              <!--<a class="link" href="#">Control</a>-->
                            <!--</li>-->
                            <!--<li>-->
                              <!--<a class="link" href="#">Indigo</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</div>-->

                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="dropdown__content__column">-->
                      <!--<div class="two-ninths">-->
                        <!--<div class="l-row&#45;&#45;half clearfix">-->
                          <!--<div class="text-large text-bold l-row&#45;&#45;half">Internet</div>-->
                          <!--<div class="space-op&#45;&#45;half">-->
                            <!--<ul class="list text-light text-height-double">-->
                              <!--<li>-->
                                <!--<a class="link" href="#">Data Packages</a>-->
                              <!--</li>-->
                            <!--</ul>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="dropdown__content__column">-->
                      <!--<div class="two-ninths">-->
                        <!--<div class="l-row&#45;&#45;half clearfix">-->
                          <!--<div class="text-large text-bold l-row&#45;&#45;half">International &amp; Roaming</div>-->
                          <!--<div class="space-op&#45;&#45;half">-->
                            <!--<ul class="list text-light text-height-double">-->
                              <!--<li>-->
                                <!--<a class="link" href="#">International Calling &amp; Roaming</a>-->
                              <!--</li>-->
                            <!--</ul>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="dropdown__content__column">-->
                      <!--<div class="two-ninths">-->
                        <!--<div class="l-row&#45;&#45;half clearfix">-->
                          <!--<div class="text-large text-bold l-row&#45;&#45;half">MNP</div>-->
                          <!--<div class="clearfix">-->
                            <!--<a class="btn inline-block l-full" href="https://www.te.eg/wps/portal/te/Personal/Mobile/MNP">More info</a>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="clearfix">-->
                          <!--<div class="text-large text-bold l-row&#45;&#45;half">Data Line Activation</div>-->
                          <!--<div class="space-op&#45;&#45;half">-->
                            <!--<div class="l-row&#45;&#45;half text-gray">-->
                              <!--<div class="text-light text-x-small l-row lineheight">Now you can activate your line with Telecom egypt with single click</div>-->
                              <!--<a class="inline-block btn l-full" href="#/home/lineactivation">Data Line Activation</a>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<hr>-->
                        <!--<div class="clearfix">-->
                          <!--<div class="text-large text-bold l-row&#45;&#45;half">Reserve My Indigo Number</div>-->
                          <!--<div class="space-op&#45;&#45;half">-->
                            <!--<div class="l-row&#45;&#45;half text-gray">-->
                              <!--<div class="text-light text-x-small l-row lineheight">Now you can reserve your postpaid number (Indigo) from WE with our special plans</div>-->
                              <!--<a class="inline-block btn l-full" href="https://numbers.te.eg/#/booking/?lang=en">Reserve My Indigo Number</a>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->

                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->

              <!--<li class="nav__list__item dropdown dropdown&#45;&#45;mega -start625">-->
                <!--<span class="nav__list__link">WE Internet Packages</span><img class="dropdown__triangle" src="assets/images/triangle.png">-->
                <!--<div class="dropdown__content">-->
                  <!--<div class="dropdown__content__wrapper clearfix">-->
                    <!--<div class="dropdown__content__column">-->
                      <!--<div class="two-ninths">-->
                        <!--<div class="l-row clearfix">-->
                          <!--<div class="text-large text-bold l-row&#45;&#45;half">We Internet</div>-->
                          <!--<ul class="list text-light text-height-double">-->
                            <!--<li><a class="link" href="https://www.te.eg/wps/portal/te/Personal/Personal-Internet-we/">WE Internet Packages</a></li>-->
                          <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="clearfix">-->
                          <!--<div class="l-row&#45;&#45;half">-->

                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="dropdown__content__column">-->
                      <!--<div class="five-eighteenths">-->
                        <!--<div class="l-row&#45;&#45;half clearfix">-->
                          <!--<div class="text-large text-bold l-row&#45;&#45;half">Home Internet Service</div>-->
                          <!--<div class="space-op&#45;&#45;half">-->
                            <!--<ul class="list text-light text-height-double">-->
                              <!--<li>-->
                                <!--<a class="link" href="#">Option Pack (Fixed IP - Domain - Email)</a>-->

                              <!--</li>-->
                              <!--<li>-->
                                <!--<a class="link" href="#">Router</a>-->

                              <!--</li>-->
                              <!--<li>-->

                              <!--</li>-->
                            <!--</ul>-->

                          <!--</div>-->
                        <!--</div><a class="inline-block btn l-full" href="#">More Services</a>-->
                      <!--</div>-->
                    <!--</div>-->

                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <!--<li class="nav__list__item dropdown dropdown&#45;&#45;mega -start680">-->
                <!--<span class="nav__list__link">Fixed Voice</span><img class="dropdown__triangle" src="assets/images/triangle.png">-->
                <!--<div class="dropdown__content">-->
                  <!--<div class="dropdown__content__wrapper clearfix">-->
                    <!--<div class="dropdown__content__column">-->
                      <!--<div class="five-eighteenths">-->
                        <!--<div class="text-large text-bold l-row&#45;&#45;half">Voice plans</div>-->
                        <!--<div class="l-row clearfix">-->
                          <!--<ul class="list text-light text-height-double">-->
                            <!--<li><a class="link" href="#">Kalamy</a></li>-->

                          <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="clearfix">-->
                          <!--<div class="text-large text-bold">Prepaid</div>-->
                          <!--<ul class="list text-light text-height-double">-->
                            <!--<li><a class="link" href="#">Marhaba</a></li>-->
                          <!--</ul>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="dropdown__content__column">-->
                      <!--<div class="two-ninths">-->
                        <!--<div class="text-large text-bold l-row&#45;&#45;half">Voice Added Services</div>-->
                        <!--<div class="l-row">-->
                          <!--<ul class="list text-light text-small text-height-double">-->
                            <!--<li><a class="link" href="#">Call waiting</a>-->
                              <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
                            <!--</li>-->
                            <!--<li><a class="link" href="#">Conference call</a>-->
                              <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
                            <!--</li>-->
                            <!--<li><a class="link" href="#">Follow me</a>-->
                              <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
                            <!--</li>-->
                            <!--<li><a class="link" href="#">Hot line</a>-->
                              <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
                            <!--</li>-->
                            <!--<li><a class="link" href="#">Don’t disturb</a>-->
                              <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
                            <!--</li>-->
                            <!--<li><a class="link" href="#">Wakeup</a>-->
                              <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
                            <!--</li>-->
                            <!--<li><a class="link" href="#">Abbreviated Numbers</a>-->
                              <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</div>-->
                        <!--<a class="inline-block btn l-full" href="#">More about VAS</a>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="dropdown__content__column">-->
                      <!--<div class="five-eighteenths">-->
                        <!--<div class="text-large text-bold l-row&#45;&#45;half">Get a new Landline</div>-->
                        <!--<div class="text-light text-x-small text-dark">-->
                          <!--<div class="l-row&#45;&#45;half">Your-->
                            <!--Landline enables you to make any calls and get online at home, just-->
                            <!--visit your nearest exchange to subscribe to your new line and enjoy the-->
                            <!--world of communication. </div>-->
                          <!--<a class="btn inline-block l-full" href="#">More info</a>-->
                        <!--</div>-->
                        <!--<div class="clearfix">-->
                          <!--<div class="l-row&#45;&#45;half text-x-small text-light" style="margin-top: 22px;">-->
                            <!--<div class="text-large text-bold">Line plus ISDN</div>-->
                            <!--<div class="text-dark">Connect 8 communicating devices on one regular telephone line</div>-->
                          <!--</div><a class="btn inline-block l-full" href="https://www.te.eg/wps/vanityurl/Residential-Get-A-New-landline-en">More info</a>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <!--<li class="nav__list__item"><a class="nav__list__link" href="#">Promotions</a></li>-->
              <!--<li class="nav__list__item dropdown dropdown&#45;&#45;mega -start200">-->
                <!--<span class="nav__list__link">My Account</span><img class="dropdown__triangle" src="assets/images/triangle.png">-->
                <!--<div class="dropdown__content">-->
                  <!--<div class="dropdown__content__wrapper clearfix">-->
                    <!--<div class="dropdown__content__column">-->
                      <!--<div class="two-ninths">-->
                        <!--<div class="clearfix">-->
                          <!--<div class="text-large text-bold">Manage your mobile account</div>-->
                          <!--<div class="space-op&#45;&#45;half">-->
                            <!--<div class="text-gray">-->
                              <!--&lt;!&ndash;&ndash;&gt;<a class="btn inline-block l-full" href="#/home/signin">Sign in to your account</a>-->
                              <!--&lt;!&ndash;&ndash;&gt;-->
                            <!--</div>-->
                            <!--&lt;!&ndash;&ndash;&gt;<div class="text-light">-->
                            <!--You don't have an account yet?-->
                          <!--</div>-->
                            <!--&lt;!&ndash;&ndash;&gt;<a class="btn inline-block l-full" href="#/home/registration">Sign up</a>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<hr>-->
                      <!--<div class="two-ninths">-->
                        <!--<div class="clearfix">-->
                          <!--<div class="space-op&#45;&#45;half">-->
                            <!--<div class="l-row&#45;&#45;half text-gray">-->
                              <!--<a class="inline-block btn l-full" href="#">Manage your landlines</a>-->
                              <!--<a class="inline-block btn l-full" href="#">Manage your internet</a>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</nav>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</header>

<!--header end-->

<!--side menu start-->

<!--<aside class="side__menu col-sm-visible">-->
  <!--<div class="tab__titles">-->
    <!--<div class="tab__title text-small is-active" data-tab="1">-->
      <!--<svg>-->
        <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
      <!--</svg>Personal-->
    <!--</div>-->
    <!--<div class="tab__title text-small" data-tab="2">-->
      <!--<svg>-->
        <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
      <!--</svg>Business-->
    <!--</div>-->
  <!--</div>-->
  <!--<nav class="tab__content is-active" data-tab="1">-->
    <!--<ul class="tab__list">-->



      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link">-->
          <!--<svg>-->
            <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
          <!--</svg>Mobile-->
        <!--</a>-->
        <!--<ul class="tab_list_submenu">-->


          <!--<div class="submenutitle"><span style="color:#702283;">- </span>Mobile Tariffs</div>-->
          <!--<li class="tab_list_submenu_item"><a class="link" href="#">Prepaid</a></li>-->
          <!--<li class="tab_list_submenu_item"><a class="link" href="#">Control</a></li>-->
          <!--<li class="tab_list_submenu_item"><a class="link" href="#">Indigo</a></li>-->
          <!--<div class="submenutitle"><span style="color:#702283;">- </span>Internet</div>-->
          <!--<li class="tab_list_submenu_item"><a class="link" href="#">Data Packages</a></li>-->
          <!--<div class="submenutitle"><span style="color:#702283;">- </span>International &amp; Roaming</div>-->
          <!--<li class="tab_list_submenu_item"><a class="link" href="#">International Calling &amp; Roaming</a></li>-->
          <!--<div class="submenutitle"><span style="color:#702283;">- </span><a href="#">MNP</a></div>-->
          <!--<div class="submenutitle"><span style="color:#702283;">- </span><a class="link" href="#">Data Line Activation</a></div>-->
          <!--<div class="submenutitle">-->
            <!--<span style="color:#702283;">- </span><a class="link" href="#">Reserve My Indigo Number</a>-->
          <!--</div>-->
        <!--</ul>-->
      <!--</li>-->

      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link">-->
          <!--<svg>-->
            <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
          <!--</svg>WE Internet Packages-->
        <!--</a>-->
        <!--<ul class="tab_list_submenu">-->
          <!--<div class="submenutitle"><span style="color:#702283;">- </span>We Internet</div>-->
          <!--<li class="tab_list_submenu_item"><a class="tab_list_submenu_link" href="https://www.te.eg/wps/portal/te/Personal/Personal-Internet-we/">WE Internet Packages</a></li>-->
          <!--<div class="submenutitle"><span style="color:#702283;">- </span>Home Internet Service</div>-->
          <!--<li class="tab_list_submenu_item"><a class="tab_list_submenu_link" href="#">Option Pack (Fixed IP - Domain - Email)</a></li>-->
          <!--<li class="tab_list_submenu_item"><a class="tab_list_submenu_link" href="#">Router</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link">-->
          <!--<svg>-->
            <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
          <!--</svg>Fixed Voice-->
        <!--</a>-->
        <!--<ul class="tab_list_submenu">-->
          <!--<div class="submenutitle"><span style="color:#702283;">- </span>Landline Plans</div>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">Kalamy</a></li>-->
          <!--<div class="submenutitle"><span style="color:#702283;">- </span>Prepaid</div>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">Marhaba</a></li>-->
          <!--<div class="submenutitle"><span style="color:#702283;">- </span>Voice Added Services</div>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">Call waiting</a>-->
            <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item"><a class="link" href="#">Conference call</a>-->
            <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item"><a class="link" href="#">Follow me</a>-->
            <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item" m=""><a class="link" href="#">Hot line</a>-->
            <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">Don’t disturb</a>-->
            <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item"><a class="link" href="#">Wakeup</a>-->
            <!--<span class="space-op text-dark text-italic text-x-small"></span>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">Abbreviated Numbers</a>-->
          <!--</li>-->
          <!--<div class="submenutitle"><span style="color:#702283;">- </span>-->
            <!--<a class="link" href="#">Get a new Landline</a></div>-->
          <!--<div class="submenutitle"><span style="color:#702283;">- </span>-->
            <!--<a class="link" href="https://www.te.eg/wps/vanityurl/Residential-Get-A-New-landline-en">Line plus ISDN</a></div>-->
        <!--</ul>-->
      <!--</li>-->

      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link" href="#">-->
          <!--<svg><use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use></svg>Promotions-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link">-->
          <!--<svg>-->
            <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
          <!--</svg>My Account-->
        <!--</a>-->
        <!--<ul class="tab_list_submenu">-->
          <!--<li class="tab_list_submenu_item">-->
            <!--&lt;!&ndash;&ndash;&gt;<a href="#/home/signin">Sign in to your account</a>-->
            <!--&lt;!&ndash;&ndash;&gt;-->
          <!--</li>-->
          <!--&lt;!&ndash;&ndash;&gt;<li class="tab_list_submenu_item">-->
          <!--<a href="#/home/registration">Sign up</a>-->
        <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a href="https://billing.te.eg/en-US/Login">Manage your landlines</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a href="https://mytedata.net/wps/portal/ssp/WSLogin">Manage your internet</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link">-->
          <!--<svg>-->
            <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
          <!--</svg>About TE-->
        <!--</a>-->
        <!--<ul class="tab_list_submenu">-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a href="#">Mission and Vision</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a href="#">CEO Statement </a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a href="#">Board of Directors</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a href="https://www.te.eg/wps/vanityurl/Careers-en">Careers</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a href="https://www.te.eg/wps/vanityurl/CSR-en">CSR</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link" href="http://ir.te.eg/">-->
          <!--<svg><use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use></svg>Investor Relations</a>-->
      <!--</li>-->

    <!--</ul>-->
  <!--</nav>-->
  <!--<nav class="tab__content" data-tab="2">-->
    <!--<ul class="tab__list">-->
      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link">-->
          <!--<svg>-->
            <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
          <!--</svg>Data &amp; Connectivity-->
        <!--</a>-->
        <!--<ul class="tab_list_submenu">-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Business ADSL-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--VPN-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--IP Transit-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Global Data Service-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link">-->
          <!--<svg>-->
            <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
          <!--</svg>Managed ICT Services-->
        <!--</a>-->
        <!--<ul class="tab_list_submenu">-->

          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Smarter Email-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--MS Office 365-->
            <!--</a>-->
          <!--</li>-->

          <!--<li class="submenutitle"><span style="color:#702283;">- </span>Cloud Apps</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Career Pro-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Asset Master-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Book Master-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="submenutitle"><span style="color:#702283;">-  </span>Managed Security Services</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Managed Firewall-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Cloud Web Security-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Managed DDOS Protection-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Endpoint Security-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="submenutitle"><span style="color:#702283;">- </span>Unified Communication</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Hosted Call Center-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Meet Me-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link">-->
          <!--<svg>-->
            <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
          <!--</svg>Data Center &amp; Cloud-->
        <!--</a>-->
        <!--<ul class="tab_list_submenu">-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Web solutions-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="submenutitle"><span style="color:#702283;">- </span>Data Center Services</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Co-location Hosting-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Dedicates Hosting-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Shared Hosting-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link">-->
          <!--<svg>-->
            <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
          <!--</svg>Landline Services-->
        <!--</a>-->
        <!--<ul class="tab_list_submenu">-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Toll-Free Number-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--PRI Services-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Short Number-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--DOD Service-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--DID Service-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Extra-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Calls-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Hunting Group-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Discounting Bill-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Fixed Lines-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li class="tab_list_item tab_list_multi">-->
        <!--<a class="nav__list__link">-->
          <!--<svg>-->
            <!--<use xlink:href="#icon-arrow" data-fallback-src="/assets/te-theme/images/svgfallback/icon-arrow.png"></use>-->
          <!--</svg>Wholesale-->
        <!--</a>-->
        <!--<ul class="tab_list_submenu">-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Bandwidth Services-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Hosting Services-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--Internet Transit-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="tab_list_submenu_item">-->
            <!--<a class="link" href="#">-->
              <!--MPLS IP-VPN-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</nav>-->
<!--</aside>-->
<!--<div class="breadcrumb" id="breadcrumb-block">-->
  <!--<div class="one-one align-center container-half&#45;&#45;ver text-light">-->
    <!--<span class="text-height text-x-large text-bottom space&#45;&#45;half">Ecare</span>-->

  <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;side menu end&ndash;&gt;-->
