<div class="block__body">



  <p dir="ltr">
    <b>Payment Terms and Conditions </b></p>
  <ol dir="ltr" style="font-size: 12px;font-weight: normal;margin-left: 0px;">
    <li style="display: list-item;margin-bottom: 10px;">
      The company is not responsible for any incorrect data entered by the customer when he/she renew the Subscription.</li>
    <li style="display: list-item;margin-bottom: 10px;">
      After the customer fills the mentioned models, he/she will pay the
      value for his subscription renewal, via the Arab African Bank model that
      exists on TE Data’s Web site.</li>
    <li style="display: list-item;margin-bottom: 10px;">
      The company is not responsible for any secret information the customer discloses on this page.</li>
    <li style="display: list-item;margin-bottom: 10px;">
      The company will renew the subscription of the customer during two
      working days; weekly holidays of TE Data are Fridays and Saturdays.</li>
    <li style="display: list-item;margin-bottom: 10px;">
      Customer acknowledges that this is a process of renewal for another ADSL line.</li>
    <li style="display: list-item;margin-bottom: 10px;">
      The customer should accept all the terms and conditions mentioned on this page.</li>
  </ol>
</div>
