<main class="container-double--ver clearfix one-one align-center">
  <div class="flex-container">

    <!--page content start-->
      <div id="content-block">

        <h3>Anonymous Online Bill Payment/ Balance Recharge/Subscribtion Renewal</h3>
        <p>Dear Customer, enter number to pay bill amount/recharge your balance
        </p>

        <div class="divider-lg"></div>

        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>The landline number you entered does not exist.</strong>



          Please check the number and try again.
          <p>For help call 111/19777 or click here for live support.</p>
        </div>

        <div class="divider-lg"></div>
        <form class="example-container" #verifyLandline="ngForm" novalidate (submit)="onSubmit(verifyLandline)">
          <div class="row">
            <div class="col-md-4">


              <mat-form-field appearance="outline">
                <mat-label>Governments</mat-label>
                <mat-select matInput placeholder="Select Government" name="govCode"  #govCode="ngModel" [(ngModel)]="verifyLandLine.govCode" required>
                  <mat-option *ngFor="let gov of governements" [value]="gov.id">{{gov.name}}</mat-option>
                </mat-select>


                <mat-error *ngIf="govCode.invalid && (govCode.dirty || govCode.touched)">

                  <div *ngIf="govCode.errors.required">
                    Governement is required.
                  </div>

                </mat-error>

              </mat-form-field>


            </div>

            <div class="col-md-4">


              <mat-form-field appearance="outline">
                <mat-label>Landline number</mat-label>
                <input matInput placeholder="Phone number" type="tel" required minlength="7" maxlength="8"
                       name="landLine" #landLine="ngModel" [(ngModel)]="verifyLandLine.landLine">
                <mat-error *ngIf="landLine.invalid && (landLine.dirty || landLine.touched)">

                  <div *ngIf="landLine.errors.required">
                    Landline is required.
                  </div>
                  <div *ngIf="landLine.errors.minlength">
                    Landline must be at least 7 characters long.
                  </div>
                  <div *ngIf="landLine.errors.maxlength">
                    Landline must be at least 8 characters long.
                  </div>


                </mat-error>
              </mat-form-field>


            </div>
          </div>


          <div class="row">


            <div class="col-md-8">

              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email" type="tel" required
                       name="email" #email="ngModel" [(ngModel)]="verifyLandLine.email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">

                  <div *ngIf="email.errors.required">
                    Email is required.
                  </div>

                  <div *ngIf="email.errors.pattern">
                     Email not valid.
                  </div>


                </mat-error>
              </mat-form-field>


            </div>
          </div>


          <button type="submit" class=" btn inline-block ">Verify Number</button>
        </form>


      </div>

    <!--page content end-->

  </div>


</main>
