<main class="container-double--ver clearfix one-one align-center">
  <div class="flex-container">

    <!--page content start-->
    <form  #verifyLandline="ngForm" novalidate (submit)="onSubmit(verifyLandline)">
    <div id="content-block">

      <h3>Anonymous Online Bill Payment/ Balance Recharge/Subscribtion Renewal</h3>
      <p>Dear Customer, enter number to pay bill amount/recharge your balance</p>

      <div class="divider-lg"></div>


        <form class="example-container" >
      <div class="row">
          <div class="col-md-4">



            <mat-form-field appearance="outline">
              <mat-label>Governments</mat-label>
              <mat-select placeholder="Select Government">
                <mat-option value="option">Option1</mat-option>
                <mat-option value="option">Option2</mat-option>
              </mat-select>
            </mat-form-field>



          </div>

          <div class="col-md-4">




            <mat-form-field appearance="outline">
              <mat-label>Landline number</mat-label>
              <input matInput placeholder="Phone number"  type="tel" required minlength="6" maxlength="10"
                     name="landLine" #landLine="ngModel" [(ngModel)]="verifyLandLine.landLine">
              <mat-error *ngIf="landLine.invalid && (landLine.dirty || landLine.touched)">

                <div *ngIf="landLine.errors.required">
                  Number is required.
                </div>
                <div *ngIf="landLine.errors.minlength">
                  Number must be at least 7 characters long.
                </div>


              </mat-error>
            </mat-form-field>




            </div>
          </div>



      <div class="row">


        <div class="col-md-8">

          <div class="form-group">
            <label>Email Address</label>
            <input type="email" class="form-control" placeholder="Sample@name.com"
                   name="email" #email="ngModel" [(ngModel)]="verifyLandLine.email"
                   >
          </div>
        </div>
      </div>


      <button type="submit" class=" btn inline-block ">Verify Number</button>
        </form>


    </div>

</form>
    <!--page content end-->

  </div>




</main>
