<!--footer start-->
<footer class="footer container-double--ver clearfix purplestrip">
  <div class="one-one align-center clearfix">
    <div class="footer__column col-xs-hide">
      <div class="footer__column__title">TELECOMEGYPT</div>
      <div class="footer__column__content">
        <ul class="footer__list">
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">Mission and Vision</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">
              CEO Statement
            </a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">
              Board of Directors
            </a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">Careers</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">CSR</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__column col-xs-hide">
      <div class="footer__column__title">CONTACT US</div>
      <div class="footer__column__content">
        <ul class="footer__list">
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">
              Our Contact Channels
            </a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">
              Email Us
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="footer__column col-xs-hide">
      <div class="footer__column__title col-xs-block">SUPPORT</div>
      <div class="footer__column__content">
        <ul class="footer__list">
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">FAQ</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">Store Locator</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">Live Chat &amp; Support</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">Ma3ak</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__column col-xs-hide">
      <div class="footer__column__title">MY ACCOUNT</div>
      <div class="footer__column__content">
        <ul class="footer__list">
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">
              Manage your Landline
            </a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">Manage your Data</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">Manage your Mobile</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__column col-xs-hide">
      <div class="footer__column__title">ABOUT THIS SITE</div>
      <div class="footer__column__content">
        <ul class="footer__list">
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">Sitemap (Personal)</a>
          </li>
          <li class="footer__list__item">
            <a class="footer__list__link" href="#">Sitemap (Business)</a>
          </li>
        </ul>
      </div>
      <div class="footer__column__title">Follow us</div>
      <div class="footer__column__content">
        <div class="footer__list__item" style="margin:30px 0 16px 0; ">
          <ul class="list list-inline">
            <li class="list__item ">
              <a class="inline-block social-icons facebook-icon" href="https://www.facebook.com/TelecomEgypt">
                <i class="fab fa-facebook-f  "></i>
              </a>
            </li>
            <li class="list__item ">
              <a class="inline-block social-icons twitter-icon margin-left-5" href="https://twitter.com/telecomegypt">
                <i class="fab fa-twitter "></i>
              </a>
            </li>
            <li class="list__item ">
              <a class="inline-block social-icons youtube-icon margin-left-5" href="https://www.youtube.com/telecomegypt">
                <i class="fab fa-youtube "></i>
              </a>
            </li>
            <li class="list__item ">
              <a class="inline-block social-icons google-plus-icon margin-left-5" href="https://plus.google.com/117442695777780112215/posts">
                <i class="fab fa-google-plus-g "></i>
              </a>
            </li>
            <li class="list__item ">
              <a class="inline-block social-icons instagram-icon margin-left-5" href="#">
                <i class="fab fa-instagram "></i>
              </a>
            </li>
            <li class="list__item ">
              <a class="inline-block social-icons linkedin-icon margin-left-5" href="#">
                <i class="fab fa-linkedin-in "></i>
              </a>
            </li>
            <div class="clearfix"></div>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="footer__column col-xs-visible">
    <a class="footer__column__title col-xs-block" href="#">TELECOMEGYPT</a>
  </div>
  <div class="footer__column col-xs-visible">
    <a class="footer__column__title col-xs-block" href="http://ir.te.eg/">Investor Relations</a>
  </div>
  <div class="footer__column col-xs-visible">
    <a class="footer__column__title col-xs-block" href="#">Contact Us</a>
  </div>
  <div class="footer__column col-xs-visible is-active">
    <a class="footer__column__title col-xs-block" href="#">SUPPORT</a>
  </div>
  <div class="footer__column col-xs-visible">
    <a class="footer__column__title col-xs-block" href="#">Sitemap (Personal)</a>
  </div>
  <div class="footer__column col-xs-visible">
    <a class="footer__column__title col-xs-block" href="#">Sitemap (Business)</a>
  </div>
  <div class="footer__column col-xs-visible">
    <div class="footer__list__item margin-top-15 footer__socialmedia">
      <span class="footer__list__link footer-title inline-block space--half text-middle primarycolor">Follow us : </span>
      <ul class="list inline-block text-middle p-r-16">
        <li class="list__item inline-block">
          <a class="inline-block social-icons facebook-icon" href="https://www.facebook.com/TEData.Egypt">
            <svg class="btn__icon -facebook social-icon inline-block">
              <use xlink:href="#icon-facebook" data-fallback-src="images/svgfallback/icon-facebook.png"></use>
            </svg>
          </a>
        </li>
        <li class="list__item inline-block">
          <a class="inline-block social-icons twitter-icon" href="https://twitter.com/TEDataEgypt">
            <svg class="btn__icon -twitter social-icon inline-block">
              <use xlink:href="#icon-twitter" data-fallback-src="images/svgfallback/icon-twitter.png"></use>
            </svg>
          </a>
        </li>
        <li class="list__item inline-block">
          <a class="inline-block social-icons youtube-icon" href="#">
            <svg class="btn__icon -youtube social-icon inline-block">
              <use xlink:href="#icon-youtube" xlink="http://www.w3.org/1999/xlink" data-fallback-src="images/svgfallback/icon-youtube.png"></use>
            </svg>
          </a>
        </li>
        <li class="list__item inline-block">
          <a class="inline-block social-icons google-plus-icon" href="#">
            <svg class="btn__icon -google-plus social-icon inline-block">
              <use xlink:href="#icon-google-plus" data-fallback-src="images/svgfallback/icon-google-plus.png"></use>
            </svg>
          </a>
        </li>
        <li class="list__item inline-block">
          <a class="inline-block social-icons instagram-icon" href="#">
            <svg class="btn__icon -instagram social-icon inline-block">
              <use xlink:href="#icon-instagram" xlink="http://www.w3.org/1999/xlink" data-fallback-src="images/svgfallback/icon-instagram.png"></use>
            </svg>
          </a>
        </li>
        <li class="list__item inline-block">
          <a class="inline-block social-icons linkedin-icon" href="#">
            <svg class="btn__icon -linkedin social-icon inline-block">
              <use xlink:href="#icon-linkedin" xlink="http://www.w3.org/1999/xlink" data-fallback-src="images/svgfallback/icon-linkedin.png"></use>
            </svg>
          </a>
        </li>
        <div class="clearfix"></div>
      </ul>
    </div>
  </div>
</footer>
<footer class="footer clearfix" style="background-color: #363636 !important;">
  <div class="align-center one-one">
    <div class="copyrights margin-top-5">
      <p class="footer__list__link" >
        For all mobile, internet and fixed line users: in
        case you are unable to solve any problem you have encountered with your
        service provider, kindly dial 155 to call the National Telecom
        Regulatory Authority (NTRA) customer service call center and submit your
        complaint. This number works seven days a week, from 8:00 a.m. to 10:00
        p.m.
      </p>
      <p class="footer__list__link">
        Copyright © 2017 Telecom Egypt. All Rights Reserved.
      </p>
      <div class="clearfix"></div>
    </div>

  </div>
</footer>

<!--footer start end-->
