<!DOCTYPE html>
<html class="l-ltr">
<head>


  <title>WE APPLICATION </title>
  <!--<link rel="icon" type="image/x-icon" href="src/assets/images/favicon.ico">-->

  <!--<link rel="stylesheet" href="../../assets/css/all.css">-->

  <link rel="stylesheet" href="../../assets/css/main-style.css">

</head>

<body>
<div class="internal-page l-ltr" lang="En">

  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>

</div>


<script type="text/javascript" src="../../assets/js/inline.js"></script>

<script type="text/javascript" src="../../assets/js/scripts.js"></script>


</body>
</html>
