<main class="container-double--ver clearfix one-one align-center">
  <div class="flex-container">

    <!--page content start-->
    <div id="content-block">

      <h3>Anonymous Online Bill Payment/ Balance Recharge/Subscription Renewal</h3>
      <div class="divider-lg"></div>
      <p> Customer Information</p>

      <div class="divider-sm"></div>
      <table class="table table-md">
        <thead>
        <tr class="table-Light">

          <th scope="col">Landline Number</th>
          <td scope="col">{{msisdn}}</td>

        </tr>
        </thead>
        <tbody>
        <tr>

          <th>Email address</th>
          <td>{{email}}</td>

        </tr>
        <tr class="table-warning">

          <th scope="col">Subscription fees</th>
          <td scope="col"> {{subscriptionFee}}
            <small>LE</small>
          </td>

        </tr>


        </tbody>
      </table>

      <div class="divider-lg"></div>


      <form #payform="ngForm" novalidate (submit)="!payform.invalid && onSubmit(payform)">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Enter amount</mat-label>
              <input matInput placeholder="0.0" type="number" required name="amount" #amount="ngModel"
                     [(ngModel)]="ADSLPaymentInfoRsModel.body.subscriptionFee"/>
              <span matSuffix class="ml-2 mr-2">EGP</span>

              <mat-hint align="start">Dear customer, you can enter a valid amount to be charged with from above form
              </mat-hint>

              <mat-error *ngIf="amount.invalid && (amount.dirty || amount.touched)">
                <div *ngIf="amount.errors.required">
                  Amount is required.
                </div>
              </mat-error>
            </mat-form-field>

          </div>

        </div>


        <div class="divider-lg"></div>
        <div class="divider-sm"></div>

        <div class="row">
          <div class="col-12">
            <mat-checkbox></mat-checkbox>

            <a  (click)="openTermsAndCoditionDialog()">I agree the term's & conditions</a>
          </div>
        </div>
        <div class="divider-sm"></div>


        <div>

          <button type="submit" class=" btn inline-block ">Proceed to payment</button>
          <button type="button" class=" btn inline-block ml-3 outline ">change number</button>
        </div>

      </form>



    </div>

  </div>
</main>
