/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons" ;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "assets/css/main-style.css";
@import "https://use.fontawesome.com/releases/v5.6.1/css/all.css";


.mat-form-field{  width: 100%;}


.footer__column__title {margin-bottom: 13px;}

.divider-sm{ padding: 6px}

.divider-md{ padding: 10px}

.text-light{ color: #606063  !important;}

.pr-3{ padding-right: 30px !important;}
.pl-3{ padding-left: 30px !important;}

@media screen and (max-width: 620px)  {


.expiry {margin-top: -124px !important;}
}

@media screen and (max-width:450px) {
  .expiry {margin-top: -194px !important;}
}

.accept-termes{ position: absolute}

.table-Light{ background-color: #dddeec !important;}
.simi-light{ background-color: #f5f5f9 !important;}
.table-md td,.table-md th{ padding: 15px !important;}
