/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons" ;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "assets/css/main-style.css";
@import "https://use.fontawesome.com/releases/v5.6.1/css/all.css";


.mat-form-field{  width: 100%;}


.footer__column__title {margin-bottom: 13px;}

.divider-sm{ padding: 6px}

.divider-md{ padding: 10px}

.text-light{ color: #606063  !important;}
